// Section 1
.pimg1 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('table-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(100vh - 70px);
  position: relative;
}

.ptext {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}

#subtitle-up {
  color: white;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 500ms ease-out;
  animation-name: fadeinupcenter;
  animation-duration: 800ms;
  animation-timing-function: ease-out;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}

.ptext2 {
  position: absolute;
  bottom: 15px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  animation: stretch 500ms ease-out 2.5s forwards;
  .fas {
    color: $main
  }
}

.subtitle-details p {
  margin-bottom: 0.5rem;

}

.fas,
.far {
  padding-right: 10px;
}

.logos {
  padding: 1rem 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 500ms ease-out;
  animation-name: fadeindowncenter;
  animation-duration: 800ms;
  animation-timing-function: ease-out;
  animation-delay: none;
  animation-fill-mode: forwards;
}

.home-link {
  padding-top: 2rem;
  text-decoration: none;
  color: $brown;
}

.home-link:hover {
  text-decoration: none;
  color: $brown;
  font-weight: bold;
}

//section 2
.wrapper {
  padding: 5rem 0;
}

.presentation {
  background-image: image-url('logo-brun.png');
  background-color: #back;
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  padding: 0 2rem;
  text-align: justify;
}

#welcome {
  font-size: 42px;
  font-weight: bold;
}
.myhr {
  border-width: 2px;
  border-color: $main;
}

//section panneau
.panneau img,
.salle img {
  width: 100%;
}

//section 3
.title-header h2 {
  font-size: 42px;
  font-weight: bold;
}

.title-subheader {
  font-size: 21px;
}

.wrapper-menu {
  background-color: $back;
  min-height: 100vh;
  padding: 5rem 0;
}

.menu-item {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.section_menu_item_price {
  text-align: end;

}

small {
  font-size: 11px;
  color: #585658;
}

.col-3 {
  padding-left: 0px !important;
}

.wrapper-carte {
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  padding: 2rem 2rem;
  margin: 2rem 0;
  background-color: white;
}

hr {
  margin-top: 0 !important;
}

.nav-pills,
.nav-link {
  color: $main;
  text-decoration: none;
  :hover {
    color: $main;
  }
}

//section Contact
.wrapper-info {
  color: $gray;
  background-image: linear-gradient(to top, #6d4119 0%, #463227 100%);
}

.title-info h2 {
  color: $back;
}

.window-info {
  padding: 1rem 2rem;
  background-color: $back;
  border-radius: 3px;
}

.window-logo {
  text-align: center;
  margin-bottom: 3rem;
}

.title-window {
  color: $main;
  font-weight: bold;
  hr {
    border: solid 1px $main,
  }
  h5 {
    font-size: 18px;
    margin: 0 0;
  }
}

ul.list-contact {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
  font-size: 16px;
  color: $brown;
}

li.list-item {
  display: flex-row;
  align-items: center;
  p {
    margin-bottom: 0px;
  }
}
@media(max-width: 568px) {
  .navbar-brand img {
    width: 250px;
  }

  .ptext2 {
    flex-direction: column;
    justify-content: center;
  }
}

@media(max-width: 1199px) {
  .map-large {
    display: none;
  }
  .map-small {
    text-align: center;
  }
  .pimg1 {
    background-attachment: scroll;
  }
}

@media(min-width: 1200px) {
  .map-small {
    display: none;
  }
}
//section Gallery
.wrapper-gallery {
  background-color: #F8F1E5;
  color: #2D2F30;
}

.wrapper-carousel {
  padding-top: 4rem;
}
