.lmt {
  background-color: white !important;
  background-size: cover;
}

.wrapper-lmt {
  padding: 2rem 0 5rem 0;
}

.lmt-title h2 {
  font-family: 'Anton';
  font-size: 42px;
  color: red !important;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 500ms ease-out;
  animation: fadeindowncenter 800ms ease-out forwards;
}

.lmt-subtitle {
  font-size: 21px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 500ms ease-out;
  animation: fadeinupcenter 800ms ease-out 500ms forwards;
}

.lmt-picture img {
  width: 100%;
}
.wrapper-tarif {
  background-color: $back;
}

.catering-starter,
.catering-main,
.catering-dessert {
  background-color: white;
  padding: 0 20px 0 20px;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.catering-starter-title,
.catering-main-title,
.catering-dessert-title {
  hr {
    border: 1px solid rgba(0,0,0,0.3);
  }
}

.wrapper-contact {
  color: $gray;
  background-color: #454647;
}

#lmt-contact h2 {
  margin: none !important;
  padding-left: 1rem;
}

#lmt-info-window {
  background-color: white;
}

.lc-lmt li{
  color: $gray;
}

.title-window-lmt {
  color: red;
  font-weight: bold;
  hr {
    border: solid 1px red,
  }
  h5 {
    font-size: 18px;
    margin: 0 0;
  }
}
