<div class="footer-design">
  <div class="social-link">
    <ul>
      <li>
        <%= link_to "Staff", root_path %>
      </li>
      <li>
        <%= link_to "Conditions Générales", root_path %>
      </li>
    </ul>
  </div>
  <div class="privacy">
    <p>© 2020 LaTabledesArtisans</p>
  </div>
  <div class="social-link">
    <ul>
      <li><a href="https://www.facebook.com/latabledesartisans"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/latabledesartisans"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>
