.button-reservation {
  padding: 1rem 2rem;
  border: solid 1px #E67E22;
  color: $white;
  background-color: $main;
  border-radius: 5px;
  font-weight: bold;
}

.button-reservation:hover {
  background-color: white;
  color: $main;
  border: solid 2px $main;
}

.btn-white {
  color: white;
}

.btn-black {
  color: black;
}

.btn-colored {
  color: $main;
}

.btn-reservation-home {
  opacity: 0;
  padding: 1rem 2rem;
  background-color: $main !important;
  border: solid 1px white !important;
  border-radius: 5px;
  font-size: 1.1rem !important;
  font-weight: normal;
  transition: transform 500ms ease-out;
  animation-name: zoomincenter;
  animation-duration: 800ms;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;

}

.btn-reservation-home:hover {
  font-weight: bold;
  text-decoration: none;
  color: white !important;
}

.lmt-link {
  color: $main;
  font-weight: bold;
}

.lmt-link:hover {
  color: $main;
}

#mail-contact {
  color: $main;
}

