.privacy {
  color: $medium-gray;
}

.footer-design {
  display: flex;
  flex-direction: row;
  height: 140px;
  background: #060000;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.conditions-link {
  text-decoration: none;
}

.conditions-link a {
  color: $medium-gray;
}

.privacy p {
    margin: 0 !important;
  }

.social-link ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.social-link ul li {
  list-style: none;
  height: 30px;
}

.social-link ul li a {
  text-decoration: none;
  color: $medium-gray;
}

.social-link ul li a .fab {
  width: 100%;
  display: block;
  font-size: 24px;
  color: $medium-gray;
  margin: 0 15px;
}

.social-link ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

.social-link ul li:nth-child(2) a:hover .fab {
  color: #dd4b39;
}

@media(max-width: 568px) {
  .footer-design {
    flex-direction: column-reverse;

    justify-content: space-around;
  }
  .privacy {
    order: -1;
  }

  .social-link ul li a .fab {
    margin: 10px 15px;
  }

}
